body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}
.container{
    max-width: 1350px;
    margin: 0 auto;
}
p{
    font-size: 20px;
    
}
a{
    text-decoration: none;
    color: #000;
}
.part{
    width: 800px;
    margin: 50px auto;
}
.cv-name{
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    text-align: center;
}
.place{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.photo-contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.photo{
    background-image: url(/cv-foto.jpg);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border:1px solid white;
    border-radius: 50%;
}

.paragraph-title{
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    text-align: center;
}
.profile-text{
    text-indent: 30px; 
}
table{
    margin: 40px auto;
    border-collapse: collapse;
}
td,th{
    border: 1px solid black;
    padding:10px 40px;
}
ul,ol{
    margin: 40px 20px;
}
li{
    margin-top:15px;
    }
.skills-list-item{
    list-style: none;
}